<%- include('../includes/header.ejs') %>
<div class="main">
    <p>Thanks for registration, <%= user.name %></p>
    <p>Your login: <%= user.email %></p>
    <p>Your password: <%= password %></p>
</div>
<%- include('../includes/footer.ejs') %>
